streamlit
requests
pandas
titlecase
sentence-transformers
torch
torchvision
# Ép phiên bản để tránh xung đột trên Cloud
numpy<2.0.0
spacy==3.7.4
thinc==8.2.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl